<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"> Document</title>
    <link rel="stylesheet" href="listar.html">
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/form}">llllll</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente:${cliente}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.cedula}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.Direccion}"></td>
                <td th:text="${cliente.Telefono}"></td>
                <td th:text="${cliente.createAt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>